body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7ecda;
}

header {
    background-color: rgb(23, 134, 8);
    text-align: center;
    padding: 20px 0;
}

header * {
    margin: 0;
    color: white;
}


main {
    padding: 20px;
}

#all-envelopes, #new-envelope, #envelope-details, #update-envelope {
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#add-envelope{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.envelope-item, .transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 12px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f3ebde;
}

.transaction-item {
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
}

.envelope-item h3 {
    margin: 0 12px 0 0;
}

.envelope-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}

.envelope-actions button {
    padding: 6px 14px;
    font-size: 1em;
}

.hidden {
    display: none;
}
